*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100-vh;
    padding: 20px;
}

.container{
    background: rgb(196, 200, 198);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 450px; /* Garante que não fique largo demais no PC */
}

h1 {
    color: #333;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.description {
    color: #666;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    line-height: 1.4;
}

.input-group {
    margin-bottom: 1.2rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #2a2626;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Responsividade extra para telas muito pequenas */
@media (max-width: 380px) {
    .container {
        padding: 1.5rem;
    }
}